.drawer .header {
  background-image: url("/images/romance.jpg");
  background-size: cover;
  height: 150px; }
  .drawer .header .user-info {
    padding: 90px 5px 0; }
    .drawer .header .user-info .avatar {
      display: inline-block;
      margin-right: 5px; }
      .drawer .header .user-info .avatar img {
        border-radius: 50%; }
    .drawer .header .user-info .user-name {
      display: inline-block;
      font-weight: 700;
      font-size: 18px;
      color: white;
      vertical-align: middle;
      text-overflow: ellipsis;
      width: calc(100% - 55px);
      white-space: nowrap;
      overflow: hidden; }
