.drawer {
  .header {
    background-image: url('/images/romance.jpg');
    background-size: cover;
    height: 150px;

    .user-info {
      padding: 90px 5px 0;

      .avatar{
        display: inline-block;
        margin-right: 5px;

        img{
          border-radius: 50%;
        }
      }

      .user-name{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        color: white;
        vertical-align: middle;
        text-overflow: ellipsis;
        width: calc(100% - 55px);
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
